.projects {
    .X-shape {
        position: relative;
        width: 348px;
        height: 447px;
        border-radius: 30px;
        margin: 30px 0;

        .image {
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
            opacity: .7;

            img {
                width: 82%;
                border-radius: 30px;
            }
        }
    }
}