.banner {
    padding: 5% 0%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;

    span {
        color: #66BB87;
    }

    .homeBanner{
        padding-left: 100px;
    }
    .textContent {
        display: flex;
        flex-direction: column;

        h2 {
            color: #05192D;
            font-size: 45px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }

        .textContent {
            display: flex;
            flex-direction: column;

            h2 {
                color: #05192D;
                font-size: 45px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

            >div {
                display: flex;
                flex-direction: column;

                h4 {
                    color: #222;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }


        }
    }

    @media (max-width: 768px) {
        .banner {
            padding-top: 50px;
        }

        .banner .textContent {
            h2 {
                font-weight: 500;
                font-size: 35px;
                color: white;
            }

            >div h4 {
                font-size: 20px;
                font-weight: 400;
                color: rgb(229 226 226);
            }
        }
        .homeBanner {
            padding-top: 50px;
            padding-left: 0px;
        }

    }
}
.bannerHomePage{
        padding-bottom: 100px;
        border-bottom: 4px solid #66BB87;
    }
