.banner {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;

    .els {
        width: 1053px;
        height: 1053px;
        border-radius: 50%;
        background: #FFF;
        position: absolute;
        top: -100%;
        left: -25%;
        z-index: -1;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .textContent {
        display: flex;
        flex-direction: column;

        h2 {
            color: #05192D;
            font-size: 60px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }

        >div {
            display: flex;
            flex-direction: column;

            h4 {
                color: rgba(5, 25, 45, 0.90);
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }


    }
}

@media (max-width: 392px) {
    .els {
        display: none;
    }

    .banner .textContent {
        h2 {
            font-size: 35px;
            color: white;
        }

        >div h4 {
            font-size: 20px;
            font-weight: 400;
            color: rgb(173, 173, 173);
        }
    }

}