.header {
    padding: 0;
    position: sticky;
    top: 0;
    box-shadow: 2px -8px 20px 8px #222222;
    left: 0;
    background: #eeeeee;
    width: 100%;
    z-index: 999999999;
    height: 100px;

    a.nav-link:hover,
    a.nav-link.active{
        color: #66BB87;
    }

    a.nav-link {
        font-size: 22px;
        font-weight: 800;
        color: #354D65;
        text-transform: capitalize;
        margin: 0 5px;
    }
    img {
        width: 80%;
        padding-top: 10px;
    }

}
@media (max-width: 768px) {
    .header a.nav-link{
        font-size: 20px;
        font-weight: 500;
    }
}