@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.app {
    width: 100vw;
    background: linear-gradient(180deg, rgba(35, 62, 88, 0.92) 15.94%, #05192D 100%);
}

@media (max-width: 392px) {
    .row {
        width: 100%;
    }

    img {
        width: 320px;
    }
}