.header {
    position: sticky;
    top: 0;
    box-shadow: 2px -8px 20px 8px #ccc;
    left: 0;
    background: rgba(0, 0, 0, 0.7098039216);
    width: 100%;
    z-index: 999999999;

    a.nav-link.active {
        color: #66BB87;
    }

    a.nav-link {
        font-size: 22px;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        margin: 0 5px;
    }

    img {
        width: 120px;
        height: 120px;
    }

}