.header {
    padding: 0;
    position: sticky;
    top: 0;
    box-shadow: 2px -8px 20px 8px #cccccc;
    left: 0;
    background: #000000b5;
    width: 100%;
    z-index: 999999999;

    a.nav-link.active {
        color: #66BB87;
    }

    a.nav-link {
        font-size: 22px;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        margin: 0 5px;
    }

    img {
        width: 80%;
    }

}